/**
 *  Tree v1.0 CSS
 *  http://mohsenkhahani.ir/phpTree
 */

.tree ul {list-style:none; margin:0; padding:0;}
.tree li {padding-left:20px; background:url(images/I.gif) repeat-y;}
.tree > ul > li {padding-left:0; background:none;}
.tree li span {display:inline-block; width:18px; height:18px; background:url(images/T.gif) no-repeat;}
.tree li:last-child > ul > li {background:none;}
.tree li:last-child > span {background:url(images/L.gif) no-repeat;}
.tree li div {display:inline-block;}
.tree-root {cursor:pointer; font-weight:bold;}
.tree-node {cursor:pointer; margin-left:3px; vertical-align:top;}
.tree-node-hover {text-decoration:underline; color:blue;}

.tree li > span.tree-image {background-image:url(images/blank.gif);}
.tree li > span.tree-image-close {background-image:url(images/close.gif);}
.tree li > span.tree-image-open {background-image:url(images/open.gif);}
.tree li > span.tree-image-l {background-image:url(images/L.gif);}
.tree li > span.tree-image-t {background-image:url(images/T.gif);}
