/**
 *  Tree CSS RTL style
 *  http://mohsenkhahani.ir/phpTree
 */
.tree {line-height:12px; direction:rtl;}
.tree ul {list-style:none; margin:0; padding-right:20px; background:url(images/rtl/h-line.png) right repeat-y;}
.tree > ul {background:none;}
.tree .last > ul {background:none;}
.tree span {display:inline-block; width:18px; height:18px; vertical-align:middle;}
.tree span {background:url(images/rtl/states.png) no-repeat;}
.tree span.close {background-position:0 -18px;}
.tree span.open {background-position:0 -36px;}
.tree .first > span {background-position:-36px 0;}
.tree .last > span {background-position:-18px 0;}
.tree .first.last > span {background-position:0 -54px;}
.tree .first > span.close {background-position:-36px -18px;}
.tree .first > span.open {background-position:-36px -36px;}
.tree .last > span.close {background-position:-18px -18px;}
.tree .last > span.open {background-position:-18px -36px;}
.tree .first.last > span.close {background-position:-54px -18px;}
.tree .first.last > span.open {background-position:-54px -36px;}
.tree .node {display:inline-block;}
